//Here you can customize bootstrap
$primary: #565399;
$secondary: #12312d;
@import "~bootstrap/scss/bootstrap";
body {
    font-family: "Architects Daughter", cursive; 
    overflow-x: hidden;
    --bs-body-font-size: 1.5rem;
    bg-color: #121212;
}
$font-size-root:  $font-size-base * 1.25;
$font-size-base: 4rem;
$lead-font-size: $font-size-base * 1.25;

.site {
    display: flex;
    min-height: calc(100vh - 100px);
    flex-direction: column;
}
  
.site-content {
    flex-grow: 1;
}
$btn-padding-x: 5px;
$btn-padding-x-lg:5px;