//Here you can customize bootstrap
$primary: #4fa2f5;
$secondary: #8D663F;
@import "~bootstrap/scss/bootstrap";
body {
    font-family: "Architects Daughter", cursive; 
    overflow-x: hidden;
    --bs-body-font-size: 1.5rem;
    background-color: #121212;overflow: hidden; 
}
$font-size-root:  $font-size-base * 1.25;
$font-size-base: 4rem;
$lead-font-size: $font-size-base * 1.25;
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);
$headings-color: $primary;
.navbar {padding-top: 0px; padding-bottom: 0px; color: $primary}
.site {
    display: flex;
    min-height: calc(100vh - 136px);
    flex-direction: column;
}
  
.site-content {
    flex-grow: 1;
}
$btn-padding-x: 5px;
$btn-padding-x-lg:5px;

.form-background {
    color: $primary;
}
textarea.form-control {
    min-height: calc(12.5em + 0.75rem + 2px);
}