//Here you can customize bootstrap
$primary: #665399;
@import "~bootstrap/scss/bootstrap";



.site {
    display: flex;
    min-height: calc(100vh - 60px);
    flex-direction: column;
}
  
.site-content {
    flex-grow: 1;
}